process.executor = 'slurm'
process.time = '8:00:00'
process.cpus = 4
process.memory = 8.GB


process {
   withLabel: big_mem {
      cpus = 16
      memory = 48.GB
      }
  }

process { 
   withLabel: high { 
   cpus = 16
   memory = 24.GB
   } 
} 

process { 
   withLabel: medium { 
      cpus = 6 
      memory = 8.GB
      } 
   } 

process { 
   withLabel: small { 
      cpus = 2
      memory = 8.GB 
      } 
   } 

process {
   withLabel: single {
      cpus = 1
      memory = 8.GB
      }
  }

process { 
   withLabel: med_mem { 
   cpus = 8
   memory = 24.GB
   } 
} 

// executor { 
//   $local { 
//      cpus = 4
//      memory = 8.GB 
//      } 
//
//   $slurm { 
//      cpus = 4 
//      memory = 8.GB 
//      clusterOptions =  '--latency-wait 120 --jobs 1000 '
//      workDir = '/pine/scr/j/r/jraab/'
//      time = '24:00:00'
//   } 
//} 
